<html>
<head>
	<title>New Patient</title>
	<link th:href="@{/jquery/jquery-ui-1.11.4/jquery-ui.css}" rel="stylesheet"/>
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<script th:src="@{/jquery/jquery-ui-1.11.4/jquery-ui.js}"></script>
	<!-- Javascript -->
	<script>
	 $(function() {
		$( "#datepicker-3" ).datepicker({
		   appendText:"(yy-mm-dd)",
		   dateFormat:"yy-mm-dd"
		});
	 });
	</script>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${patientForm}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>
				<input type="text" th:field="*{name}"
				pattern="[a-zA-Z' .-]+"
				required="required"/>
			</td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Identity Card Number:</td>
            <td>
				<input type="text" th:field="*{identityCardNumber}"
				pattern="^\d{6}$"
				oninvalid="this.setCustomValidity('the identity card number contains 6 digits!')"
				onchange="setCustomValidity('')"
				required="required"/>
			</td>
            <td th:if="${#fields.hasErrors('identityCardNumber')}" th:errors="*{identityCardNumber}">identityCardNumber Error</td>
        </tr>
        <tr>
            <td>Personal Numerical Code:</td>
            <td>
				<input type="text" th:field="*{personalNumericalCode}"
				pattern = "^[1-9]\d{2}((01|03|05|07|08|10|12)(0[1-9]|[1-2][0-9]|3[0-1])|((04|06|09|11)(0[1-9]|[1-2][0-9]|30))|((02)(0[1-9]|[1-2][0-9])))(0[1-9]|[1-3][0-9]|4[0-6]|5[1-2])\d{4}$"
				oninvalid="this.setCustomValidity('Please enter a valid personal numerical code!')"
				onchange="setCustomValidity('')"
				required="required"/>
			</td>
            <td th:if="${#fields.hasErrors('personalNumericalCode')}" th:errors="*{personalNumericalCode}">personalNumericalCode Error</td>
			<td th:if="${errorMessage}" th:text="${errorMessage}"></td>
        </tr>
		<tr>
            <td>Address:</td>
            <td>
				<input type="text" th:field="*{address}"
				pattern = "^[a-zA-Z0-9.,' -]+$"
				required = "required"/>
			</td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Address Error</td>
        </tr>
		<tr>
			<td>Date of birth:</td>
            <td>
				<input type="text" th:field="*{dateOfBirth}" id="datepicker-3"
				pattern = "\d{4}-((01|03|05|07|08|10|12)-(0[1-9]|[1-2][0-9]|3[0-1])|((04|06|09|11)-(0[1-9]|[1-2][0-9]|30))|((02)-(0[1-9]|[1-2][0-9])))"
				oninvalid="this.setCustomValidity('Select a date from the calendar, how hard can it be?')"
				onchange="setCustomValidity('')"
				required="required"
				class="readonly"/>
				<script>
					$(".readonly").keydown(function(e){
					e.preventDefault();
					});
				</script>
			</td>
            <td th:if="${#fields.hasErrors('dateOfBirth')}" th:errors="*{dateOfBirth}">dateOfBirth Error</td>
		</tr>
        <tr>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
	<a th:href="@{/patient/view}"  class="button">Back to patients</a>
</form>
</body>
</html>