<html>
<head>
	<title>Patient</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<h2>Patient details</h2>

    <table class="table table-striped" style="width:300px;">
        <tr>
            <th>Name</th>
            <td><b th:text="${patient.name}"></b></td>
        </tr>
        <tr>
            <th>Identity Card Number</th>
            <td th:text="${patient.identityCardNumber}"></td>
        </tr>
		<tr>
            <th>Personal Numerical Code</th>
            <td th:text="${patient.personalNumericalCode}"></td>
        </tr>
		<tr>
            <th>Date Of Birth</th>
            <td th:text="${#dates.format(patient.dateOfBirth.toDate(), 'yyyy-MM-dd')}"/>
        </tr>
		<tr>
            <th>Address</th>
            <td th:text="${patient.address}"/>
        </tr>	
        <tr>
            <td> 
            	<a th:href="@{|${patient.id}/edit|}" class="button">Edit patient</a>
			</td>
			<td> 
            	<a th:href="@{|${patient.id}/delete|}" class="button">Delete patient</a>
			</td>
        </tr>
    </table>
	<p>
		<a th:href="@{/patient/view}" class="button">View patients</a>
	</p>
</body>
</html>