<html>
<head>
    <title>View Patients</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<link type="text/css" th:href="@{/data_tables/datatables.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/data_tables/datatables.min.js}"></script>
</head>
<body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#data_table').DataTable();
	} );
</script>
	<p>
		<a th:href="@{/}" class="button">Home</a>
	</p>
	<p>
		<a th:href="@{/patient/new}" class="button">Add patient</a>
	</p>
	<table id="data_table" class="display">
		<thead>
			<tr>
				<th>Name</th>
				<th>Identity Card Number</th>
				<th>Personal Numerical Code</th>
				<th>Date Of Birth</th>
				<th>Address</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="patient : ${patientList}">
				<td>
					<a th:href="@{|/patient/${patient.id}|}"
					   th:text="${patient.name}">
					</a>
				</td>
				<td th:text="${patient.identityCardNumber}"></td>
				<td th:text="${patient.personalNumericalCode}"></td>
				<td th:text="${#dates.format(patient.dateOfBirth.toDate(), 'yyyy-MM-dd')}"></td>
				<td th:text="${patient.address}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>