<html>
<head>
	<title>New Account</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${account}" method="post">
    <table>
        <tr>
            <td>Amount:</td>
            <td><input type="text" th:field="*{amount}" /></td>
            <td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Name Error</td>
        </tr>
		<tr>
			<td>Type:</td>
			<td>
				<select th:field="*{type}">
					<option th:each="state : ${T(com.example.database.AccountType).values()}" th:value="${state}" th:text="${state}"></option>
				</select>
			</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
</form>
</body>
</html>