<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Error</title>
		<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>There seems to be a problem!</h1>
		<p th:if="${errorMessage}" th:text="${errorMessage}"></p>
		<p>
			<a th:href="@{/}" class="button">Home</a>
		</p>
    </body>
</html>