<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Internet Banking App</title>
		<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome!</h1>
		<p><a th:href="@{/client/view}" class="button">View clients</a></p>
		
		<div th:if="${currentUser} != null and ${currentUser.employee.type.toString()}=='Admin'">
			<p><a th:href="@{/employee/view}" class="button">View employees</a></p>
			<p><a th:href="@{/report}" class="button">Generate report</a></p>
		</div>
		<p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
		</p>
    </body>
</html>