<html>
<head>
	<title>Employee</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<h2>Employee details</h2>

    <table class="table table-striped" style="width:300px;">
        <tr>
            <th>Name</th>
            <td><b th:text="${emp.name}"></b></td>
        </tr>
        <tr>
            <th>Username</th>
            <td th:text="${emp.username}"></td>
        </tr>
		<tr>
            <th>User type</th>
            <td th:text="${emp.type}"></td>
        </tr>
         <tr>
            <td> 
            	<a th:href="@{|${emp.idEmployee}/edit.html|}" class="button">Edit employee</a>
			</td>
			<td> 
            	<a th:href="@{|${emp.idEmployee}/delete.html|}" class="button">Delete employee</a>
			</td>
        </tr>
    </table>
	<p>
		<a th:href="@{/employee/view}" class="button">View employees</a>
	</p>
</body>
</html>