<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Employees</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<link type="text/css" th:href="@{/data_tables/datatables.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/data_tables/datatables.min.js}"></script>
</head>
<body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#data_table').DataTable();
	} );
</script>
<p>
	<a th:href="@{/}" class="button">Home</a>
</p>
<p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</p>
<p>
	<a th:href="@{/employee/new}" class="button">Create employee</a>
</p>
<table id="data_table">
	<thead>
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>Username</td>
		</tr>
	</thead>
	<tbody>
		<tr th:each="emp : ${employeeList}">
			<td th:text="${emp.idEmployee}"></td>
			<td><a th:href="@{|/employee/${emp.idEmployee}|}"
				   th:text="${emp.name}">
				</a></td>
			<td th:text="${emp.username}"></td>
		</tr>
	</tbody>
</table>
</body>
</html>