<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Ariel's Book Store App</title>
		<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome!</h1>
		<p><a th:href="@{/book/view}" class="button">View books</a></p>
	
		<div th:if="${currentUser} != null and ${currentUser.getClient().getType().toString()}=='Admin'">
			<p><a th:href="@{/client/view}" class="button">View clients</a></p>
		</div>

		<!-- <div th:with="userSelection=${T(com.example.data.ReportType).PdfReport}">
			<ul>
				<li th:each="state : ${T(com.example.data.ReportType).values()}">
					<input type="radio" th:name="ana" th:value="${state}" th:text="${state}"/>
				</li>
			</ul>
			<p><a th:href="@{/report/create/__${userSelection}__}" class="button">Generate report</a></p>
		</div> -->
		<div th:if="${currentUser} != null and ${currentUser.getClient().getType().toString()}=='Admin'">
			<table>
				<tr>
					<td>
						<a th:href="@{/report/create/PdfReport}" class="button" download="report.pdf">Generate PDF report</a>
					</td>
				</tr>
				<tr>
					<td>
						<a th:href="@{/report/create/CsvReport}" class="button" download="report.csv">Generate CSV report</a>
					</td>
				</tr>
			</table>
		</div>
		
		<p><a th:href="@{/sale/view}" class="button">View sales</a></p>
	<p>
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out"/>
		</form>
	</p>
    </body>
</html>