<html>
<head>
	<title>Book</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<h2>Book details</h2>

    <table class="table table-striped" style="width:300px;">
        <tr>
            <th>ID Book</th>
            <td><b th:text="${currentBook.id}"></b></td>
        </tr>
		<tr>
            <th>Title</th>
            <td><b th:text="${currentBook.title}"></b></td>
        </tr>
		<tr>
            <th>Author</th>
            <td><b th:text="${currentBook.author}"></b></td>
        </tr>
		<tr>
            <th>Genre</th>
            <td><b th:text="${currentBook.genre}"></b></td>
        </tr>
		<tr>
            <th>Price</th>
            <td><b th:text="${currentBook.price}"></b></td>
        </tr>
		<tr>
            <th>Quantity</th>
            <td><b th:text="${currentBook.quantity}"></b></td>
        </tr>
        <tr th:if="${currentUser} != null and ${currentUser.getClient().getType().toString()}=='Admin'">
            <td> 
            	<a th:href="@{__${#httpServletRequest.requestURI}__/edit}"  class="button">Edit Book</a>
			</td>
			<td> 
            	<a th:href="@{__${#httpServletRequest.requestURI}__/delete}"  class="button">Delete Book</a>
			</td>
        </tr>
    </table>
	<p>
		<h2>Sell</h2>
		<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${bookForm}" method="post">
			<table>
				<tr>
					<td>Quantity:</td>
					<td><input type="text" th:field="*{quantity}" /></td>
					<td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Quantity Error</td>
					<td th:if="${errorMessage}" th:text="${errorMessage}"></td>
				</tr>
				<tr>
					<td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</p>
	<p>
		<a th:href="@{__${#httpServletRequest.requestURI}__/../view}"  class="button">Back to books</a>
	</p>
</body>
</html>