<html>
<head>
	<title>New Book</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${bookForm}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><input type="text" th:field="*{title}" /></td>
            <td th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Title Error</td>
        </tr>
		<tr>
            <td>Author:</td>
            <td><input type="text" th:field="*{author}" /></td>
            <td th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Title Error</td>
        </tr>
		<tr>
            <td>Genre:</td>
            <td><input type="text" th:field="*{genre}" /></td>
            <td th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}">Title Error</td>
        </tr>
		<tr>
            <td>Price:</td>
            <td><input type="text" th:field="*{price}" /></td>
            <td th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Title Error</td>
        </tr>
		<tr>
            <td>quantity:</td>
            <td><input type="text" th:field="*{quantity}" /></td>
            <td th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}">Title Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
	<a th:href="@{/book/view}"  class="button">Back to books</a>
</form>
</body>
</html>