<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Books</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
<p>
	<a th:href="@{/}" class="button">Home</a>
</p>
<p th:if="${currentUser} != null and ${currentUser.getClient().getType().toString()}=='Admin'">
	<a th:href="@{__${#httpServletRequest.requestURI}__/../new}" class="button">Add book</a>
</p>
<form action="#" th:action="@{/book/search}" th:object="${book}" method="post">
	<table>
		<tr>
			<td>Title:</td>
			<td><input type="text" th:field="*{title}" /></td>
			<td th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></td>
		</tr>
	</table>
	<button type="submit">View books</button>
</form>
<h2>Books</h2>
 <table class="table table-striped">
	<thead>
            <tr>
				<th>Id</th>
                <th>Title </th>
                <th>Author</th>
                <th>Genre</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
	</thead>
	<tbody>
		<tr th:each="book : ${bookList}">
			<td th:text="${book.id}"></td>
			<td><a th:href="@{__${#httpServletRequest.requestURI}__/../__${book.id}__}"
               th:text="${book.title}">
			</a></td>
			<!-- <td th:text="${book.title}"></td> -->
			<td th:text="${book.author}"></td>
			<td th:text="${book.genre}"></td>
			<td th:text="${book.quantity}"></td>
			<td th:text="${book.price}"></td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>