<html>
<head>
	<title>Consultation</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<h2>Consultation details</h2>

    <table class="table table-striped" style="width:300px;">
        <tr>
            <th>Patient</th>
            <td>
				<b>
					<a th:href="@{|/patient/${consultation.patient.id}|}"
						th:text="${consultation.patient.name}">
					</a>
				</b>
			</td>
        </tr>
        <tr>
            <th>Doctor</th>
            <td>
				<a th:href="@{|/client/${consultation.doctor.id}|}"
					th:text="${consultation.doctor.name}">
				</a>
			</td>
        </tr>
		<tr>
            <th>Details</th>
            <td th:text="${consultation.details}"></td>
        </tr>
		<tr>
            <th>Date Of Consultation</th>
            <td th:text="${#dates.format(consultation.consultationDate.toDate(), 'yyyy-MM-dd')}"/>
        </tr>	
        <tr>
            <td> 
            	<a th:href="@{|${consultation.id}/edit|}" class="button">Edit consultation</a>
			</td>
			<td> 
            	<a th:href="@{|${consultation.id}/delete|}" class="button">Delete consultation</a>
			</td>
        </tr>
    </table>
	<p>
		<a th:href="@{/consultation/view}" class="button">View consultations</a>
	</p>
	<p th:if="${currentUser} != null and ${currentUser.getClient().getType().toString()}=='Secretary'">
		<a th:href="@{|${consultation.id}/inform|}" class="button">Notify doctor</a>
	</p>
</body>
</html>