<html>
<head>
	<title>New Patient</title>
	<link th:href="@{/jquery/jquery-ui-1.11.4/jquery-ui.css}" rel="stylesheet"/>
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<script th:src="@{/jquery/jquery-ui-1.11.4/jquery-ui.js}"></script>
	<!-- Javascript -->
	<script>
	 $(function() {
		$( "#datepicker-3" ).datepicker({
		   appendText:"(yy-mm-dd)",
		   dateFormat:"yy-mm-dd"
		});
	 });
	</script>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${consultationForm}" method="post">
    <table>
        <tr>
            <td>Patient:</td>
			<td>
				<select th:field="*{idPatient}" required="required">
					<option th:each="patient: ${patientList}" th:value="${patient.id}" th:text="${patient.name}"></option>
				</select>
			</td>
			<td th:if="${#fields.hasErrors('idPatient')}" th:errors="*{idPatient}">Patient Error</td>
        </tr>
		<tr>
            <td>Doctor:</td>
			<td>
				<select th:field="*{idDoctor}" required="required">
					<option th:each="doctor: ${doctorList}" th:value="${doctor.id}" th:text="${doctor.name}"></option>
				</select>
			</td>
			<td th:if="${#fields.hasErrors('idDoctor')}" th:errors="*{idDoctor}">Doctor Error</td>
        </tr>
		<tr>
            <td>Details:</td>
            <td><input type="text" th:field="*{details}" /></td>
            <td th:if="${#fields.hasErrors('details')}" th:errors="*{details}">Details Error</td>
        </tr>
		<tr>
			<td>Date of consultation:</td>
            <td>
				<input type="text" th:field="*{consultationDate}" id="datepicker-3"
				pattern = "\d{4}-((01|03|05|07|08|10|12)-(0[1-9]|[1-2][0-9]|3[0-1])|((04|06|09|11)-(0[1-9]|[1-2][0-9]|30))|((02)-(0[1-9]|[1-2][0-9])))"
				oninvalid="this.setCustomValidity('Select a date from the calendar, how hard can it be?')"
				onchange="setCustomValidity('')"
				required="required"
				class="readonly"/>
				<script>
					$(".readonly").keydown(function(e){
					e.preventDefault();
					});
				</script>
			</td>
            <td th:if="${#fields.hasErrors('consultationDate')}" th:errors="*{consultationDate}">consultationDate Error</td>
		</tr>
        <tr>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
	<a th:href="@{/consultation/view}"  class="button">Back to consultations</a>
</form>
</body>
</html>