<html>
<head>
    <title>View Consultations</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<link type="text/css" th:href="@{/data_tables/datatables.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/data_tables/datatables.min.js}"></script>
</head>
<body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#data_table').DataTable();
	} );
</script>
	<p>
		<a th:href="@{/}" class="button">Home</a>
	</p>
	<p>
		<a th:href="@{/consultation/new}" class="button">Add consultation</a>
	</p>
	<table id="data_table" class="display">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date</th>
				<th>Patient</th>
				<th>Doctor</th>
				<th>Details</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="consultation : ${consultationList}">
				<td>
					<a th:href="@{|/consultation/${consultation.id}|}"
					   th:text="${consultation.id}">
					</a>
				</td>
				<td th:text="${#dates.format(consultation.consultationDate.toDate(), 'yyyy-MM-dd')}"></td>
				<td>
					<a th:href="@{|/patient/${consultation.patient.id}|}"
						th:text="${consultation.patient.name}">
					</a>
				</td>
				<td>
					<a th:href="@{|/client/${consultation.doctor.id}|}"
						th:text="${consultation.doctor.name}">
					</a>
				</td>
				<td th:text="${consultation.details}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>