<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Sales</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
<p>
	<a th:href="@{/}" class="button">Home</a>
</p>

<h2>Sales</h2>
 <table class="table table-striped">
	<thead>
            <tr>
                <th>Username</th>
                <th>Title</th>
                <th>Amount</th>
            </tr>
	</thead>
	<tbody>
		<tr th:each="sale : ${saleList}">
			<td><a th:href="@{/client/__${sale.username}__}"
               th:text="${sale.username}">
			</a></td>
			<td><a th:href="@{/book/__${sale.bookId}__}"
               th:text="${sale.bookTitle}">
			</a></td>
			<td th:text="${sale.amount}"></td>

		</tr>
	</tbody>
</table>
</div>
</body>
</html>