<html>
<head>
	<title>Client</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<link type="text/css" th:href="@{/data_tables/datatables.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/data_tables/datatables.min.js}"></script>
</head>

<body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#data_table').DataTable();
	} );
</script>
<h2>Client details</h2>

    <table class="table table-striped" style="width:300px;">
        <tr>
            <th>Name</th>
            <td><b th:text="${client.name}"></b></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="${client.address}"></td>
        </tr>
		<tr>
            <th>Identity card number</th>
            <td th:text="${client.identityCardNumber}"></td>
        </tr>
		<tr>
            <th>Personal numerical code</th>
            <td th:text="${client.personalNumericalCode}"></td>
        </tr>
         <tr>
            <td> 
            	<a th:href="@{__${#httpServletRequest.requestURI}__/edit}" class="button">Edit client</a>
			</td>
			<td> 
            	<a th:href="@{__${#httpServletRequest.requestURI}__/delete.html}" class="button">Delete client</a>
			</td>
        </tr>
    </table>
	<p>
		<a th:href="@{/client/view}" class="button">View clients</a>
	</p>
	<h2>Client Accounts</h2>
	<p>
		<a th:href="@{__${#httpServletRequest.requestURI}__/account/new}" class="button">Create account</a>
	</p>
	<table id="data_table">
		<thead>
				<tr>
					<th>Id Account</th>
					<th>Type</th>
					<th>Money</th>
					<th>Date</th>
				</tr>
		</thead>
		<tbody>
			<tr th:each="account : ${client.accounts}">
				<td><a th:href="@{|/client/${client.idClient}/account/${account.idAccount}|}"
						th:text="${account.idAccount}">
				</a></td>
				<td th:text="${account.type}" />
				<td th:text="${account.amount}" />
				<td th:text="${account.dateOfCreation}" />
			</tr>
		</tbody>
	</table>
</body>
</html>