<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Clients</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<link type="text/css" th:href="@{/data_tables/datatables.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/data_tables/datatables.min.js}"></script>
</head>
<body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#data_table').DataTable();
	} );
</script>
<div class="container">
<p>
	<a th:href="@{/}" class="button">Home</a>
</p>
<p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</p>
<p>
	<a th:href="@{/client/new}" class="button">Create client</a>
</p>
<h2>Clients</h2>
<table id="data_table">
	<thead>
            <tr>
                <th>Id </th>
                <th>Name</th>
                <th>Identity card number</th>
                <th>Personal numerical code</th>
                <th>Address</th>
            </tr>
	</thead>
	<tbody>
		<tr th:each="client : ${clientList}">
			<td th:text="${client.idClient}"></td>
			<td><a th:href="@{|/client/${client.idClient}|}"
               th:text="${client.name}">
			</a></td>
			<td th:text="${client.identityCardNumber}"></td>
			<td th:text="${client.personalNumericalCode}"></td>
			<td th:text="${client.address}"></td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>