<html>
<head>
	<title>Account</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<h2>Account details</h2>

    <table class="table table-striped" style="width:300px;">
        <tr>
            <th>ID Account</th>
            <td><b th:text="${sourceAccount.idAccount}"></b></td>
        </tr>
        <tr>
            <th>Type</th>
            <td th:text="${sourceAccount.type}"></td>
        </tr>
		<tr>
            <th>Sum</th>
            <td th:text="${sourceAccount.amount}"></td>
        </tr>
		<tr>
            <th>Date of creation</th>
            <td th:text="${sourceAccount.dateOfCreation}"></td>
        </tr>
         <tr>
            <td> 
            	<a th:href="@{__${#httpServletRequest.requestURI}__/edit}"  class="button">Edit Account</a>
			</td>
			<td> 
            	<a th:href="@{__${#httpServletRequest.requestURI}__/delete}"  class="button">Delete Account</a>
			</td>
        </tr>
    </table>
	<p>
		<h2>Transfer to</h2>
		<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${account}" method="post">
			<table>
				<tr>
					<td>Account id:</td>
					<td><input type="text" th:field="*{idAccount}" /></td>
					<td th:if="${#fields.hasErrors('idAccount')}" th:errors="*{idAccount}">Id error</td>
					<td th:if="${errorMessage}" th:text="${errorMessage}"></td>
				</tr>
				<tr>
					<td>Amount:</td>
					<td><input type="text" th:field="*{amount}" /></td>
					<td th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</td>
				</tr>
				<tr>
					<td><button type="submit">Submit</button></td>
				</tr>
			</table>
		</form>
	</p>
	<p>
		<a th:href="@{__${#httpServletRequest.requestURI}__/../..}"  class="button">Back to client</a>
	</p>
</body>
</html>