<html>
<head>
	<title>New Client</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${client}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></td>
        </tr>
		<tr>
            <td>identityCardNumber:</td>
            <td><input type="text" th:field="*{identityCardNumber}" /></td>
            <td th:if="${#fields.hasErrors('identityCardNumber')}" th:errors="*{identityCardNumber}"></td>
        </tr>
		<tr>
            <td>personalNumericalCode:</td>
            <td><input type="text" th:field="*{personalNumericalCode}" /></td>
            <td th:if="${#fields.hasErrors('personalNumericalCode')}" th:errors="*{personalNumericalCode}"></td>
			<td th:if="${errorMessage}" th:text="${errorMessage}"></td>
        </tr>
		<tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}" /></td>
            <td th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></td>
        </tr>
    </table>
	<button type="submit">Submit</button>
</form>
</body>
</html>