<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Report:</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<p align = "right">
	<a th:href="@{/}" class="button">Home</a>
</p>
<p>
	<form th:action="@{/logout}" method="post" align = "right">
		<input type="submit" value="Sign Out"/>
	</form>
</p>
<table>
    <tr>
        <th>Id</th>
        <th>Message</th>
        <th>Date</th>
		<th>Source account id</th>
		<th>Destination account id</th>
		<th>Amount transfered</th>
    </tr>
    <tr th:each="report : ${reportList}">
        <td th:text="${report.idReport}"></td>
        <td th:text="${report.message}"></td>
		<td th:text="${report.dateOfCreation}"></td>
		<td><a th:href="@{|/client/${report.sourceAccount.client.idClient}/account/${report.sourceAccount.idAccount}|}"
               th:text="${report.sourceAccount.idAccount}">
			</a></td>
        <td th:text="${report.destinationAccountId}"></td>
		<td th:text="${report.transferAmount}"></td>
    </tr>
</table>
</body>
</html>