<html>
<head>
    <title>Success!</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
Ai reusit, bravo!
<p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</p>
</body>
</html>