<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Employees</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<p align = "right">
	<a th:href="@{/}" class="button">Home</a>
</p>
<p>
	<form th:action="@{/logout}" method="post" align = "right">
		<input type="submit" value="Sign Out"/>
	</form>
</p>
<p>
	<a th:href="@{/employee/new}" class="button">Create employee</a>
</p>
<table>
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Username</td>
        <td>Password</td>
    </tr>
    <tr th:each="emp : ${employeeList}">
        <td th:text="${emp.idEmployee}"></td>
		<td><a th:href="@{|/employee/${emp.idEmployee}|}"
               th:text="${emp.name}">
			</a></td>
        <td th:text="${emp.username}"></td>
        <td th:text="${emp.password}"></td>
    </tr>
</table>
</body>
</html>