<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Clients</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="container">
<p align = "right">
	<a th:href="@{/}" class="button">Home</a>
</p>
<p>
	<form th:action="@{/logout}" method="post" align = "right">
		<input type="submit" value="Sign Out"/>
	</form>
</p>
<p>
	<a th:href="@{/client/new}" class="button">Create client</a>
</p>
<h2>Clients</h2>
 <table class="table table-striped">
	<thead>
            <tr>
                <th>Id </th>
                <th>Name</th>
                <th>Identity card number</th>
                <th>Personal numerical code</th>
                <th>Address</th>
            </tr>
	</thead>
	<tbody>
		<tr th:each="client : ${clientList}">
			<td th:text="${client.idClient}"></td>
			<td><a th:href="@{|/client/${client.idClient}|}"
               th:text="${client.name}">
			</a></td>
			<td th:text="${client.identityCardNumber}"></td>
			<td th:text="${client.personalNumericalCode}"></td>
			<td th:text="${client.address}"></td>
		</tr>
	</tbody>
</table>
</div>
</body>
</html>