<html>
<head>
	<title>Client</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>
<h2>Client details</h2>

    <table class="table table-striped" style="width:300px;">
        <tr>
            <th>Name</th>
            <td><b th:text="${client.name}"></b></td>
        </tr>
        <tr>
            <th>Username</th>
            <td th:text="${client.username}"></td>
        </tr>
		<tr>
            <th>User type</th>
            <td th:text="${client.type}"></td>
        </tr>
        <tr>
            <td> 
            	<a th:href="@{|${client.id}/edit|}" class="button">Edit client</a>
			</td>
			<td> 
            	<a th:href="@{|${client.id}/delete|}" class="button">Delete client</a>
			</td>
        </tr>
    </table>
	<p>
		<a th:href="@{/client/view}" class="button">View clients</a>
	</p>
</body>
</html>