<html>
<head>
	<title>New Client</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${clientForm}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td>
				<input type="text" th:field="*{name}" 
				pattern = "[a-zA-Z' .-]+"
				required = "required"/>
			</td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td>
				<input type="text" th:field="*{username}"
				pattern = "[a-zA-Z0-9_.-]+"
				required = "required"/>
			</td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
			<td th:if="${errorMessage}" th:text="${errorMessage}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td>
				<input type="password" th:field="*{password}"
				pattern = "(^(?=.*[A-Z])(?=.*[a-z])(?=.*[0-9])(?=.*[#?!@$%^&amp;*()-]).{8,}$)|(^$)"
				oninvalid="this.setCustomValidity('At least one upper case english letter\n
At least one lower case english letter\n
At least one digit\n
At least one special character\n
Minimum 8 in length')"
				onchange="setCustomValidity('')"/>
			</td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
		<tr>
            <td>Type:</td>
			<td>
				<select th:field="*{type}">
					<option th:each="state : ${T(com.example.security.ClientType).values()}" th:value="${state}" th:text="${state}"></option>
				</select>
			</td>
			<td th:if="${#fields.hasErrors('type')}" th:errors="*{type}">Type Error</td>
        </tr>
        <tr>
            <td><button type="submit">Update</button></td>
        </tr>
    </table>
	<a th:href="@{/client/view}"  class="button">Back to clients</a>
</form>
</body>
</html>