<html>
<head>
    <title>View Clients</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<link type="text/css" th:href="@{/data_tables/datatables.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/data_tables/datatables.min.js}"></script>
</head>
<body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#data_table').DataTable();
	} );
</script>
	<p>
		<a th:href="@{/}" class="button">Home</a>
	</p>
	<p>
		<a th:href="@{/client/new}" class="button">Add client</a>
	</p>
	<table id="data_table" class="display">
		<thead>
			<tr>
				<th>Name</th>
				<th>Username</th>
				<th>Type</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="client : ${clientList}">
				<td th:text="${client.name}"></td>
				<td>
					<a th:href="@{|/client/${client.id}|}"
					   th:text="${client.username}">
					</a>
				</td>
				<td th:text="${client.type}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>