<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Report</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<link th:href="@{/jquery/jquery-ui-1.11.4/jquery-ui.css}" rel="stylesheet"/>
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<script th:src="@{/jquery/jquery-ui-1.11.4/jquery-ui.js}"></script>
	<link type="text/css" th:href="@{/data_tables/datatables.min.css}" rel="stylesheet"/>
	<script type="text/javascript" th:src="@{/data_tables/datatables.min.js}"></script>
	<!-- Javascript -->
	<script>
	 $(function() {
		$( "#datepicker-3" ).datepicker({
		   appendText:"(yy-mm-dd)",
		   dateFormat:"yy-mm-dd"
		});
	 });
	 $(function() {
		$( "#datepicker-4" ).datepicker({
		   appendText:"(yy-mm-dd)",
		   dateFormat:"yy-mm-dd"
		});
	 });
	</script>
</head>
<body>
<script type="text/javascript">
	$(document).ready(function() {
		$('#data_table').DataTable();
	} );
</script>
<p>
	<a th:href="@{/}" class="button">Home</a>
</p>
<p>
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out"/>
	</form>
</p>

	<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${dateIntervalForm}" method="post">
		<table>
			<tr>
				<td>Start date:</td>
				<td>
					<input type="text" th:field="*{startDate}" id="datepicker-3"
					pattern = "\d{4}-((01|03|05|07|08|10|12)-(0[1-9]|[1-2][0-9]|3[0-1])|((04|06|09|11)-(0[1-9]|[1-2][0-9]|30))|((02)-(0[1-9]|[1-2][0-9])))"
					oninvalid="this.setCustomValidity('Select a date from the calendar, how hard can it be?')"
					onchange="setCustomValidity('')"
					required="required"
					class="readonly"/>
					<script>
						$(".readonly").keydown(function(e){
						e.preventDefault();
						});
					</script>
				</td>
				<td th:if="${#fields.hasErrors('startDate')}" th:errors="*{startDate}">startDate Error</td>
			</tr>
			<tr>
				<td>End date:</td>
				<td>
					<input type="text" th:field="*{endDate}" id="datepicker-4"
					pattern = "\d{4}-((01|03|05|07|08|10|12)-(0[1-9]|[1-2][0-9]|3[0-1])|((04|06|09|11)-(0[1-9]|[1-2][0-9]|30))|((02)-(0[1-9]|[1-2][0-9])))"
					oninvalid="this.setCustomValidity('Select a date from the calendar, how hard can it be?')"
					onchange="setCustomValidity('')"
					required="required"
					class="readonly"/>
					<script>
						$(".readonly").keydown(function(e){
						e.preventDefault();
						});
					</script>
				</td>
				<td th:if="${#fields.hasErrors('endDate')}" th:errors="*{endDate}">endDate Error</td>
			</tr>
			<tr>
				<td><button type="submit">Update</button></td>
			</tr>
		</table>
	</form>
	<table id="data_table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Message</th>
				<th>Date</th>
				<th>Source account id</th>
				<th>Destination account id</th>
				<th>Amount transfered</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="report : ${reportList}">
				<td th:text="${report.idReport}"></td>
				<td th:text="${report.message}"></td>
				<td th:text="${#dates.format(report.dateOfCreation.toDate(), 'yyyy-MM-dd')}"></td>
				<td><a th:href="@{|/client/${report.sourceAccount.client.idClient}/account/${report.sourceAccount.idAccount}|}"
					   th:text="${report.sourceAccount.idAccount}">
					</a></td>
				<td th:text="${report.destinationAccountId}"></td>
				<td th:text="${report.transferAmount}"></td>
			</tr>
		</tbody>
	</table>
	<a th:href="@{/report/download/PdfReport}" class="button" download="statement.pdf">Generate PDF report</a>
	<a th:href="@{/report/download/CsvReport}" class="button" download="statement.csv">Generate CSV report</a>
</body>
</html>