<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Ariel's Clinic App</title>
		<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
    </head>
    <body>
        <h1>Welcome!</h1>
		<p th:if="${currentUser} != null and ${currentUser.getClient().getType().toString()}=='Admin'">
			<a th:href="@{/client/view}" class="button">View clients</a>
		</p>
		<p>
			<a th:href="@{/patient/view}" class="button">View patients</a>
		</p>
		<p>
			<a th:href="@{/consultation/view}" class="button">View consultations</a>
		</p>
		<p th:if="${currentUser} != null and ${currentUser.getClient().getType().toString()}=='Doctor'">
			<a th:href="@{/doctor}" class="button">See arriving patients</a>
		</p>
		<p>
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out"/>
			</form>
		</p>
    </body>
</html>