<html>
<head>
	<title>New Client</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
<form action="#" th:action="@{__${#httpServletRequest.requestURI}__}" th:object="${clientForm}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input type="text" th:field="*{name}" /></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Username:</td>
            <td><input type="text" th:field="*{username}"/></td>
            <td th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
			<td th:if="${errorMessage}" th:text="${errorMessage}"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
		<tr>
            <td>Salary:</td>
            <td><input type="text" th:field="*{salary}" /></td>
            <td th:if="${#fields.hasErrors('salary')}" th:errors="*{salary}">Salary Error</td>
        </tr>
		<tr>
            <td>Number of vacation days:</td>
            <td><input type="text" th:field="*{numberOfRestDaysLeft}" /></td>
            <td th:if="${#fields.hasErrors('numberOfRestDaysLeft')}" th:errors="*{numberOfRestDaysLeft}">Salary Error</td>
        </tr>
        <tr>
            <td><button type="submit">Submit</button></td>
        </tr>
    </table>
	<a th:href="@{/client/view}"  class="button">Back to clients</a>
</form>
</body>
</html>