<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>View Clients</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>
	<p>
		<a th:href="@{/}" class="button">Home</a>
	</p>
	<p>
		<a th:href="@{/client/new}" class="button">Create client</a>
	</p>
	<table>
		<tr>
			<th>Username</th>
			<th>Name</th>
			<th>Type</th>
			<th>Salary</th>
			<th>Vacation days left</th>
		</tr>
		
		<tr th:each="client : ${clientList}">
			<td>
				<a th:href="@{|/client/${client.key}|}"
				   th:text="${client.key}">
				</a>
			</td>
			<td th:text="${client.value.name}"></td>
			<td th:text="${client.value.type}"></td>
			<td th:text="${client.value.salary}"></td>
			<td th:text="${client.value.numberOfRestDaysLeft}"></td>
		</tr>
	</table>
</body>
</html>