body {
    background-color: #E3F6CE;
}

h1 {
    color: #5F04B4;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}


table, th, td {
   border: 1px solid black;
}

th {
    text-align: left;
	background-color: #4CAF50;
    color: white;
}

td {
    height: 15px;
    vertical-align: middle;
}

th, td {
    padding: 2px;
    text-align: left;
	border-bottom: 1px solid #ddd;
}

tr:hover {background-color: #58FA82}
/* tr:nth-child(even) {background-color: #86B404} */

a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}