<!DOCTYPE html>
<html>
<head>
	<title>View Appointments</title>
	<link href="style.css" th:href="@{/css/style.css}" rel="stylesheet" />
	<script th:src="@{/jquery/jquery-1.12.3.min.js}"></script>
	<script th:src="@{/sockjs/sockjs-0.3.4.min.js}"></script>
	<script th:src="@{/stomp/stomp.min.js}"></script>
</head>
<body>
	<div>
		<h3>Messages:</h3>
		<ol id="messages"></ol>
	</div>

	<script type="text/javascript">
		$(document).ready(function() {
			var messageList = $("#messages");

			// defined a connection to a new socket endpoint
			var socket = new SockJS('/stompNotifications');

			var stompClient = Stomp.over(socket);

            stompClient.connect({ }, function(frame) {
				// subscribe to the /topic/message endpoint
				stompClient.subscribe("/topic/message", function(data) {
					var message = data.body;
					messageList.append("<li>" + message + "</li>");
				});
            });
		});
	</script>
</body>
</html>